body {
    background-color: darkgrey;
    margin: 2%;
}

h1{
    color: white;
    text-align: center;
}

h3{
    color: white;
    text-align: center;
}

.item1 { grid-area: empathy1; }
.item2 { grid-area: empathy2; }
.item3 { grid-area: empathy3; }
.item4 { grid-area: empty1; }
.item5 { grid-area: empty2; }
.item6 { grid-area: empty3; }
.item7 { grid-area: empty4; }
.item8 { grid-area: empty5; }
.item9 { grid-area: empty6; }
.item10 { grid-area: empty7; }
.item11 { grid-area: empty8; }
.item12 { grid-area: empty9; }
.item13 { grid-area: empty10; }
.item14 { grid-area: empty11; }
.item15 { grid-area: empty12; }
.item16 { grid-area: affinity; }
.item17 { grid-area: empty13; }
.item18 { grid-area: empty14; }
.item19 { grid-area: empty15; }
.item20 { grid-area: empty16; }
.item21 { grid-area: empty17; }
.item22 { grid-area: empty18; }
.item23 { grid-area: empty19; }
.item24 { grid-area: empty20; }
.item25 { grid-area: empty21; }
.item26 { grid-area: empty22; }
.item27 { grid-area: empty23; }
.item28 { grid-area: empty24; }
.item29 { grid-area: insights; }
.item30 { grid-area: empty25; }
.item31 { grid-area: empty26; }
.item32 { grid-area: empty27; }
.item33 { grid-area: empty28; }
.item34 { grid-area: empty29; }
.item35 { grid-area: empty30; }
.item36 { grid-area: empty31; }
.item37 { grid-area: empty32; }
.item38 { grid-area: empty33; }
.item39 { grid-area: empty34; }
.item40 { grid-area: empty35; }
.item41 { grid-area: empty36; }
.item42 { grid-area: usm; }

.grid-container {
  display: grid;
  grid-template-areas:
    'empathy1 empathy1 empathy2 empathy2 empathy3 empathy3'
    'empty1 empty2 empty3 empty4 empty5 empty6'
    'empty7 empty8 empty9 empty10 empty11 empty12'
    'affinity affinity affinity affinity affinity affinity'
    'empty13 empty14 empty15 empty16 empty17 empty18'
    'empty19 empty20 empty21 empty22 empty23 empty24'
    'insights insights insights insights insights insights'
    'empty25 empty26 empty27 empty28 empty29 empty30'
    'empty31 empty32 empty33 empty34 empty35 empty36'
    'usm usm usm usm usm usm';
}

.grid-container > div {
  background-color: darkgrey;
}

img{
    width: 100%;
    height: 100%;
}

.left{
    height: 50px;
    border-left: 3px dashed white;
}

.right{
    height: 50px;
    border-right: 3px dashed white;
}

.bottom{
    height: 50px;
    border-bottom: 3px dashed white;
}

