body{
    background-color: #7a6b88;
    margin: 0%;
}
header{
    background-color: white;
    padding-bottom: 1%;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoImage{
    padding: 1%;
    width: 100%;
    margin-left: 20%;
    margin-right: 20%;
}
.container {
    display: flex;
    justify-content: center;
}

nav {
    display: inline;
    text-align: center;
}

nav a {
    margin: 0 10px;
    font-size: 130%;
}

.section1{
    width: 50%;
    padding: 1%;
    background-color: #919591;
    margin: 2%;
}

.arrow{
    max-width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}
.arrowDown{
    padding-top: 10%;
    padding-bottom: 10%;
    width: 18%;
    height: 18%;
}

.underConstruction{
    padding-top: 10%;
    padding-left: 10%;
}

.underConstructionImage{
    width: 90%;
}